<html>
    <head>
    	<title>VUE FPL</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <meta charset="utf-8">
	    <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
	    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    </head>
    <body>
        <div id="app">
	        <md-table v-model="igralci" md-sort="total_points" md-sort-order="desc" md-card>
		      <md-table-toolbar>
		        <h1 class="md-title">Igralci</h1>
		      </md-table-toolbar>

		      <md-table-row slot="md-table-row" slot-scope="{ item }">
		        <md-table-cell md-label="Ime in priimek" md-sort-by="first_name" >{{ item.first_name }} {{item.second_name}}</md-table-cell>
		        <md-table-cell md-label="Točke" md-sort-by="total_points">{{ item.total_points }}</md-table-cell>
		      </md-table-row>
		    </md-table>
	    </div>

        <script src="script.js"></script>

    </body>
</html>